
h2{
    font-size: 2.5rem;
}

#about{
    display: flex;
    padding: 80px;
    gap: 30px;
}

.text{
    display: flex;
    flex-direction: column;
}

img{
    height: 20rem;
    border-radius: 1rem;
}

#topPage{
    display: flex;
    background-image: url("/assets/image/equipe\ de\ professores.png");
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    gap: 3px;
}